<%= form_with(model: check_apartment, local: true, class: 'check-apartment-form') do |form| %>
  <% if check_apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_apartment.errors.count, "error") %> prohibited to check this apartment:</h2>

      <ul>
      <% check_apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address,
                        {
                          placeholder: 'Enter your address', onFocus: 'geolocate()',
                        } %>
  </div>

  <div class="field">
    <%= form.text_field :lat, { hidden: true } %>
  </div>
  <div class="field">
    <%= form.text_field :lng, { hidden: true } %>
  </div>

  <div class="field">
    <%= form.label :price, 'Rental price ($)' %>
    <%= form.text_field :price, { placeholder: 'Enter your rental price' } %>
  </div>

  <div class="actions">
    <%= form.submit 'Check' %>
  </div>

  <p>
    Your possible income ($) <%= format_income(check_apartment.possible_income).html_safe %>
  </p>

  <script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var IsPlaceChange = false;
    var placeSearch, autocomplete, field;
    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('check_apartment_address')),
          {types: ['(cities)']});

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
      IsPlaceChange = true;

      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (addressType == 'locality') {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById('check_apartment_address').value = val;
        }
      }
      document.getElementById('check_apartment_lat').value = place.geometry.location.lat();
      document.getElementById('check_apartment_lng').value = place.geometry.location.lng();
    }

    // Clear address field unless user select smt from autocomplete options
    // Because in other case we couldn't get geolocation which is needed by Airbnb API
    var field = document.getElementById('check_apartment_address');
    field.addEventListener("keydown", function(e) { IsPlaceChange = false }, true);
    field.addEventListener("blur", function(e) {
      if(!IsPlaceChange) {
        document.getElementById('check_apartment_address').value = '';
        document.getElementById('check_apartment_lat').value = '';
        document.getElementById('check_apartment_lng').value = '';
      }
    }, true);

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_fHOY1Cp8MSeUfbVn6Blm4st5-LbUzvc&libraries=places&callback=initAutocomplete"
          async defer></script>
<% end %>
