// Place all the styles related to the check-apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check-apartment {
  width: 800px;
  margin: auto;
  &-form {
    width: 500px;
    margin: auto;
  }
}

input {
  width: 300px;
}

.positive {
  background-color: green;
  color: white;
}

.negative {
  background-color: red;
  color: white;
}
