<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_fHOY1Cp8MSeUfbVn6Blm4st5-LbUzvc&libraries=places"></script>-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
